ul#results
  .container.result-box
    h3 Newspaper Results
    hr
    if (results == 0)
      p No results selected.
    each result in results
      // RESULT START
      li
        // CLIP INFO
        .li-text
          .results-line-title
          - var title = result.FName;
          a(href=result.DownloadLink, target="_blank") !{title}

          .results-line-body
            .results-line-subtitle
              a(href=result.NewspaperLink, target="_blank") #{result.Radio}
              if (result.SName)
                span.results-line-sname
                |  - #{result.SName}
              if (result.TStamp)
                span.results-line-publish-date
                |  - #{result.TStamp}
            p
              - var text = result.TEXTS;
               - var titleLine = text.replace(new RegExp(key, "gi"), function myFunction(x){ return " <span class='found-text-highlight'>" + x + "</span>";})
                | !{titleLine}
              br
              br
              br
